.grocery-chart-app {

}

.grocery-chart-icon {
    background: url(../images/icons/grocery-bag.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50px;
    width: 50px;
    margin: 12px auto;
}

.grocery-chart-modal-container {
    background: #708090;
    min-height: 300px;
    width: 60%;
    display: block;
    position: absolute;
    top: 100px;
    left: 20%;
    z-index: 50;
}

.bought-item-container {
    background: #2c3e50;
    height: 60px;
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 72px;
    border-radius: 6px 6px 6px;
    cursor: pointer;
    z-index: 52;
}

.bought-item-container .triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #2c3e50;
    position: relative;
    top: 60px;
    left: 40px;
}

.bought-item-container .subtract {
    float: left;
    position: relative;
    top: -30px;
    left: 10px;
}

.bought-item-container .add {
    float: right;
    position: relative;
    top: -30px;
    right: 10px;
}

.grocery-chart {
    color: #fff;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    height: 100%;
    width: 100%;
    border: 1px solid;
    overflow: hidden;
    position: relative;
    z-index: 51;
}

.grocery-chart > table {
    width: 100%;
    border: 1px solid black;
}

.grocery-chart tr {
    text-align: center;
    colspan: 1;
}

.grocery-chart tr > td:first-child {
    text-align: left;
}

.grocery-chart tr > th:first-child, .grocery-chart tr > td:first-child{
    width: auto;
}

.grocery-chart tr > th, .grocery-chart tr {
    width: 100px;
}

.grocery-chart > table + tr {
    width: 50%;
}

.grocery-chart td {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.grocery-chart th {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

.tally-mark {
    font-size: 12px;
    text-align: right !important;
    padding-right: 2px !important;
    padding-top: 28px !important;
    padding-bottom: 0px !important;
}
